*{
    margin: 0;
    padding: 0;
}
/* main-section1 */
.main-section1{
    height: 875px;
    margin: 0 0 0 0;
    background: rgba(229, 84, 115, 0.10);
     display: flex; 
    justify-content:space-around;
    align-items: center;
    width: 100%
}
.info-container{
    padding: 100px 25px 80px 100px ;
}
.image{
    width: 300%;
    padding-top: 80px;
}
.info-tittle{
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}
.info-text{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.btn{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background: #E55473;
    margin-top: 40px;
    padding: 10px 30px 10px 30px;
}
/* main-section2 */
.main-section2{
    text-align: center;
    margin: 100px 280px 40px 280px;

}
.featured-tittle{
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;

}
.featured-text{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
/* main-section3 */
.main-section3{
    background: #FFF;
    margin-bottom: 0;
   

}
.items1-container{
    display: flex;
    margin: 0 240px 150px 240px;
    justify-content: space-around;
    align-items: center;

}
.items2-container{
    display: flex;
    margin: 0 240px 150px 240px;
    justify-content: space-around;
    align-items: center;

}
.items3-container{
    display: flex;
    margin: 0 240px 150px 240px;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

}
.items1-info{
    border: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
     padding: 70px 50px 10px 50px;

}
.items2-info{
    border: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 109px 25px 0 25px;
}
.items3-info{
    border: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
     padding: 25px 45px 30px 75px;
}

.items3-text{
    margin-top: 30px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
.items3-sub-container{
    display: block;
}
.items-image{
    width: 100%;
}
/* main-section-4 */
.main-section4{
    margin: 0 200px 60px 200px;
    
}
.main-section4-container{
   border: 0;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
display: flex;
justify-content: space-around;
align-items: center;
   padding: 50px 100px
}
.main-section4-img{
    width: 25%;
    margin-bottom: 20px;
    padding-left: 100px;
    

    

}
.main-section4-text{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 14px;
font-weight: 600;

}
/* main-section5 */
.main-section5{
    background: rgba(229, 84, 115, 0.05);

    height: 500px;
    margin: 0 0 0 0;
   border: 0;
     display: flex; 
    justify-content:space-around;
    align-items: center;
    width: 100%
    border-radius: 8px;
    
}
.info-container5{
    padding: 100px 25px 80px 300px ;
}
.image5{
    width: 300%;
    padding-top: 80px;
}
.info-tittle5{
    width: 708px;
    
    margin-bottom: 32px;
    color: #272727;
font-size: 40px;

font-weight: 800;

}
.info-text5{
    width: 594px;
    
    
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;

}
.btn5{
    color: #FFF;
    font-weight: 700;
    border: 0;
    text-align: center;
    margin: 40px 200px 0 200px;
padding: 10px 23px;
align-items: flex-end;
gap: 20px;
border-radius: 8px;
background: #E55473;
}
/* main-section6 */
.main-section6{
    text-align: center;
    margin: 80px 280px 40px 280px;

}
.featured-tittle6{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;

}
.featured-text6{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
/* main-section7 */
.main-section8{
    background: #FFF;
    margin: 0px 20px 80px 230px;
 
}
.main-section8-img{
    padding: 10px 10px 10px 10px;
    width: 20%;
   
   justify-content: space-around;
   align-items: center;
  
}
/* main-section-9 */
.main-section9{
    padding: 100px 200px ;
    margin: 50px 180px 50px 250px;
    border: 0;
 background-image: url("flower asset/Rectangle\ 9.png");
 background-repeat: no-repeat;
 
    
}


.main-section9-text{
    text-align: center;

}
.main-section9-btn{
    display: flex;
    align-items: center;
}
input[type=text]{
    border: 0;
    border-radius: 5px;
background: #FFF;
padding: 10px 20px;
width: 100%;
    
}


button{ 
padding: 7px 15px;
margin-left: 60px;
border-radius: 8px;
background: #E55473;
color: #FFF;
border: 0;
font-size: 20px;

font-weight: 700;


}
.main-section9-in{
    margin-top: 35px;
   
}
.main-sec9-heading{
    margin-bottom: 5px;
}
/* footer */
footer{
    background-color: #111010;
    padding: 80px 200px;
    color: aliceblue;
    text-align: center;
}
span{
    color: #E55473;

font-size: 48px;

font-weight: 800;

}
.shop{
    color: #FFF;
margin-bottom: 20px;
font-size: 48px;

font-weight: 800;

}
.footer-text{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 20px;

}
.shop-com{
    color: rgba(255, 255, 255, 0.40);

    text-align: center;
font-size: 16px;

font-weight: 400;

}

/* .bonus-section */
.bonus-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightcyan;
    width: 100%;
    margin: 0px 20px 50px 0px;
    
    
}
.bonus-img{
    width: 25%;
    padding-left: 70px;
}
.bonush-hea{
    margin-bottom: 5px;
}
.bo-p{
    text-align: center;
    margin-bottom: 4px;
}
.bonush-info{
    padding: 30px 90px 60px 30px;
    
    border: 1px solid;
  text-align: center;
  box-shadow: 3px 3px 10px #888888;
  gap: 20px;
  border: 0;
  margin: 5px;
}
/* main-section2 */
.main-section-bonus{
    text-align: center;
    margin: 100px 60px 40px 40px;

}
.featured-tittle-bonus{
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;

}
.featured-text-bonus{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}